# KPMG Virtual Data Analytics Internship

[1] Data Quality Assessment  
    Step 1: Imported Pandas  
    Step 2: Imported the Pandas dataset of the excel files  
    Step 3: Got all the columns of the dataset  
    Step 4: Counted the number of individual values of each column in the dataset to check for missnamed data in indiviual columns  
    Step 5: Got the percentage of missing values in the data  
    Step 6: Drop all missing rows from the dataset

In [421]:
import pandas as pd

### Transaction Dataset

In [422]:
tr = pd.read_excel('Transactions_raw.xlsx')
tr = tr.drop(columns=['transaction_id.1'])

In [428]:
tr.shape

(19445, 13)

In [424]:
tr.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [425]:
tr.isna().mean() * 100

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
dtype: float64

In [426]:
tr = tr.dropna()

In [427]:
for n in tr.columns:
    print(n)
    print(tr[n].value_counts())
    print()
    print()

transaction_id
2047     1
645      1
4743     1
19084    1
17037    1
        ..
15661    1
9518     1
11567    1
17714    1
2049     1
Name: transaction_id, Length: 19445, dtype: int64


product_id
0      1157
3       349
1       305
38      267
35      261
       ...
71      134
16      134
8       132
100     126
47      118
Name: product_id, Length: 101, dtype: int64


customer_id
2476    14
1068    14
2183    14
1302    13
1913    13
        ..
2271     1
2532     1
1544     1
373      1
2047     1
Name: customer_id, Length: 3492, dtype: int64


transaction_date
2017-02-14    81
2017-08-18    81
2017-10-15    73
2017-01-31    72
2017-12-19    70
              ..
2017-12-07    37
2017-01-12    36
2017-09-25    35
2017-03-29    34
2017-10-19    32
Name: transaction_date, Length: 364, dtype: int64


online_order
1.0    9739
0.0    9706
Name: online_order, dtype: int64


order_status
Approved     19273
Cancelled      172
Name: order_status, dtype: int64


brand
Solex             4169
WeareA2B          3245
Giant Bicycles    3244
OHM Cycles        2993
Trek Bicycles     2931
Norco Bicycles    2863
Name: brand, dtype: int64


product_line
Standard    13920
Road         3894
Touring      1213
Mountain      418
Name: product_line, dtype: int64


product_class
medium    13587
high       2952
low        2906
Name: product_class, dtype: int64


product_size
medium    12767
large      3900
small      2778
Name: product_size, dtype: int64


list_price
2091.47    460
1403.50    389
71.49      269
1231.15    232
1890.39    230
          ...
1172.78    153
358.39     138
1227.34    126
202.62     123
1036.59    111
Name: list_price, Length: 100, dtype: int64


standard_cost
388.920000    460
954.820000    389
53.620000     269
161.600000    232
260.140000    230
             ...
151.960000    123
206.350000    111
270.299988      1
312.735016      1
667.400024      1
Name: standard_cost, Length: 103, dtype: int64


product_first_sold_date
33879.0    230
41064.0    223
37823.0    221
39880.0    220
38216.0    217
          ...
41848.0    168
42404.0    167
41922.0    163
37659.0    161
34586.0    159
Name: product_first_sold_date, Length: 100, dtype: int64

In [415]:
# About 1.8% of the values are missing from the dataset 
tr.isna().mean() * 100

transaction_id             0.0
product_id                 0.0
customer_id                0.0
transaction_date           0.0
online_order               0.0
order_status               0.0
brand                      0.0
product_line               0.0
product_class              0.0
product_size               0.0
list_price                 0.0
standard_cost              0.0
product_first_sold_date    0.0
dtype: float64

### New Customer List Dataset

In [379]:
ncl = pd.read_excel('NewCusList_raw.xlsx')
ncl.shape

(1000, 24)

In [380]:
ncl.columns

Index(['first_name', 'first_name.1', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Rank', 'Value'],
      dtype='object')

In [381]:
ncl = ncl.drop(columns=[ 'first_name.1', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21'])

In [382]:
# Removing unnecessary rows 
ncl=ncl[ncl.gender != 'U']

In [383]:
# 1.7% of rows are deleted 
ncl.shape

(983, 18)

In [384]:
for n in ncl.columns:
    print(n)
    print(ncl[n].value_counts())
    print()
    print()

first_name
Dorian       3
Mandie       3
Arty         2
Cissiee      2
Inglebert    2
            ..
Roman        1
Jeanne       1
Charlena     1
Packston     1
Wilbert      1
Name: first_name, Length: 925, dtype: int64


last_name
Shoesmith        2
Burgoine         2
Van den Velde    2
Minshall         2
Crellim          2
                ..
Tomasicchio      1
Froment          1
Docket           1
Critten          1
Heakey           1
Name: last_name, Length: 944, dtype: int64


gender
Female    513
Male      470
Name: gender, dtype: int64


past_3_years_bike_related_purchases
60    20
59    18
70    17
42    17
37    16
      ..
9      5
92     5
19     5
85     4
20     2
Name: past_3_years_bike_related_purchases, Length: 100, dtype: int64


DOB
1961-07-31    2
1994-04-15    2
1987-01-15    2
1951-11-28    2
1951-04-30    2
             ..
1995-10-10    1
1964-08-23    1
1962-05-12    1
1957-10-17    1
1939-08-22    1
Name: DOB, Length: 958, dtype: int64


job_title
Environmental Tech            14
Associate Professor           14
Software Consultant           14
Chief Design Engineer         13
Assistant Manager             12
                              ..
Account Representative II      1
Systems Administrator III      1
Health Coach I                 1
Software Test Engineer III     1
Engineer II                    1
Name: job_title, Length: 184, dtype: int64


job_industry_category
Financial Services    202
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     36
Entertainment          36
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64


wealth_segment
Mass Customer        499
High Net Worth       249
Affluent Customer    235
Name: wealth_segment, dtype: int64


deceased_indicator
N    983
Name: deceased_indicator, dtype: int64


owns_car
No     497
Yes    486
Name: owns_car, dtype: int64


tenure
9     79
13    73
11    66
10    63
12    60
17    59
7     59
15    57
5     57
8     55
14    52
16    49
6     45
18    36
4     35
19    34
3     25
21    24
20    22
2     13
22    12
1      8
Name: tenure, dtype: int64


address
3259 Eagan Parkway       1
8042 Cherokee Court      1
29 Maple Trail           1
9 Killdeer Circle        1
900 Brown Junction       1
                        ..
1 Talisman Avenue        1
890 Truax Lane           1
3413 Schmedeman Court    1
45 Shopko Center         1
678 Lyons Trail          1
Name: address, Length: 983, dtype: int64


postcode
2232    9
2145    9
2168    7
3977    7
2750    7
       ..
4405    1
2358    1
2118    1
4408    1
3051    1
Name: postcode, Length: 515, dtype: int64


state
NSW    499
VIC    258
QLD    226
Name: state, dtype: int64


country
Australia    983
Name: country, dtype: int64


property_valuation
9     172
8     161
7     135
10    114
6      67
11     60
5      55
4      52
3      50
12     46
2      42
1      29
Name: property_valuation, dtype: int64


Rank
760     13
259     12
455      9
133      9
386      9
        ..
870      1
429      1
218      1
419      1
1000     1
Name: Rank, Length: 324, dtype: int64


Value
0.637500    13
1.062500    12
1.237500     9
0.892500     9
0.945625     9
            ..
0.374000     1
0.610938     1
0.512500     1
0.734375     1
0.459000     1
Name: Value, Length: 324, dtype: int64

### Customer Demographic Dataset

In [430]:
cd = pd.read_excel('CusDem_raw.xlsx')
cd.shape

(4000, 14)

In [431]:
cd.columns

Index(['customer_id', 'customer_id.1', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [432]:
cd = cd.drop(columns='customer_id.1')

In [433]:
cd.isna().mean() * 100

customer_id                             0.000
first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 7.550
owns_car                                0.000
tenure                                  2.175
dtype: float64

In [434]:
cd = cd.dropna()

In [438]:
for n in cd.columns:
    print(n)
    print(cd[n].value_counts())
    print()
    print()

customer_id
1021    1
3667    1
3243    1
2221    1
2224    1
       ..
2895    1
354     1
1380    1
3943    1
3073    1
Name: customer_id, Length: 301, dtype: int64


first_name
Nettie     2
D'arcy     2
Lind       2
Drucill    2
Willem     1
          ..
Cameron    1
Nicko      1
Nolana     1
Tye        1
Mariel     1
Name: first_name, Length: 297, dtype: int64


last_name
Dredge           2
Pozzi            2
Wickey           2
Ordish           1
Van der Kruis    1
                ..
Tomlett          1
Blacksell        1
McElwee          1
Boddis           1
Pillinger        1
Name: last_name, Length: 298, dtype: int64


gender
Female    159
Male      142
Name: gender, dtype: int64


past_3_years_bike_related_purchases
19    8
22    7
38    7
52    6
35    6
     ..
17    1
84    1
83    1
42    1
92    1
Name: past_3_years_bike_related_purchases, Length: 92, dtype: int64


DOB
1973-12-30    2
1985-10-21    2
1989-11-14    2
1956-01-18    1
1979-04-07    1
             ..
1962-11-09    1
1981-08-19    1
1986-10-27    1
1996-10-28    1
1956-08-01    1
Name: DOB, Length: 298, dtype: int64


job_title
Librarian                   7
Associate Professor         7
Electrical Engineer         7
Paralegal                   5
Structural Engineer         5
                           ..
Software Test Engineer I    1
Systems Administrator I     1
Accountant IV               1
Editor                      1
Engineer II                 1
Name: job_title, Length: 137, dtype: int64


job_industry_category
Manufacturing         77
Financial Services    64
Health                56
Retail                33
Property              25
Entertainment         21
IT                    12
Argiculture           10
Telecommunications     3
Name: job_industry_category, dtype: int64


wealth_segment
Mass Customer        159
High Net Worth        80
Affluent Customer     62
Name: wealth_segment, dtype: int64


deceased_indicator
N    301
Name: deceased_indicator, dtype: int64


default
 1      87
-1      75
 100    72
-100    67
Name: default, dtype: int64


owns_car
Yes    153
No     148
Name: owns_car, dtype: int64


tenure
7.0     24
16.0    23
8.0     22
17.0    19
12.0    19
3.0     16
10.0    16
18.0    16
4.0     15
14.0    15
1.0     14
13.0    14
19.0    12
2.0     12
5.0     12
15.0    11
9.0     11
11.0     9
6.0      9
22.0     5
20.0     4
21.0     3
Name: tenure, dtype: int64

In [436]:
cd = cd[cd['default'].isin([100, -100, 1, -1])]

In [437]:
cd['gender'] = cd['gender'].replace('M', 'Male')

### Customer Address Dataset

In [443]:
ca = pd.read_excel('CusAdd_raw.xlsx')

In [444]:
ca.shape

(3999, 7)

In [445]:
ca = ca.drop(columns='customer_id.1')
ca.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [447]:
ca.isna().mean() * 100

customer_id           0.0
address               0.0
postcode              0.0
state                 0.0
country               0.0
property_valuation    0.0
dtype: float64

In [450]:
ca=ca.dropna()

In [454]:
for n in ca.columns:
    print(n)
    print(ca[n].value_counts())
    print()
    print()

customer_id
2047    1
653     1
2728    1
677     1
2724    1
       ..
3371    1
1322    1
3367    1
1318    1
2049    1
Name: customer_id, Length: 3999, dtype: int64


address
64 Macpherson Junction     2
3 Talisman Place           2
3 Mariners Cove Terrace    2
511 Gulseth Plaza          1
7 Meadow Vale Court        1
                          ..
8551 Mayfield Court        1
6 Logan Junction           1
09040 Myrtle Parkway       1
7107 Manitowish Road       1
82598 Arkansas Hill        1
Name: address, Length: 3996, dtype: int64


postcode
2170    31
2155    30
2145    30
2153    29
2770    26
        ..
4552     1
4555     1
2485     1
3580     1
4421     1
Name: postcode, Length: 873, dtype: int64


state
NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64


country
Australia    3999
Name: country, dtype: int64


property_valuation
9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: property_valuation, dtype: int64

In [452]:
ca['state'] = ca['state'].replace('New South Wales', 'NSW')

In [453]:
ca['state'] = ca['state'].replace('Victoria', 'VIC')

In [455]:
ca.shape

(3999, 6)